footer.page-footer.blue-grey.darken-4
  .container
    .row
      .col-sm-6
        h5.white-text lesliekimm
        p.grey-text.text-lighten-4 software developer originally from the nation's capital now residing in the bay area with a passion for dogs, fitness, art and education
      .col-sm-offset-2.col-sm-4
        h5.white-text links
        ul
          li
            a.grey-text.text-lighten-3(href='/') home
          li
            a.grey-text.text-lighten-3(href='/resume') resume
          li
            a.grey-text.text-lighten-3(href='/portfolio') portfolio
          li
            a.grey-text.text-lighten-3(href='about') about
          li
            a.grey-text.text-lighten-3(href='contact') contact
  .footer-copyright
    h6.container
      | © 2016 lesliekimm
