.navbar-fixed
  nav.blue-grey.darken-4
    .nav-wrapper
      a.brand-logo(href='/') | lesliekimm |
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a.header-link(href='/resume') resume
        li
          a.header-link(href='portfolio') portfolio
        li
          a.header-link(href='about') about
        li
          a.header-link(href='contact') contact
