.navbar-fixed
  nav
    .nav-wrapper
      a.brand-logo(href='/') | lesliekimm |
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a.navbar-link(href='/') home
        li
          a.navbar-link(href='/resume') resume
        li
          a.navbar-link(href='/portfolio') portfolio
        li
          a.navbar-link(href='/about') about
        li
          a.navbar-link(href='/contact') contact
