nav
  .nav-wrapper
    ul.nav-mobile.right
      li #[h6#[a(href='/resume') resume]]
      li #[h6#[a(href='/portfolio') portfolio]]
      li #[h6#[a(href='/about') about]]
      li #[h6#[a(href='/contact') contact]]
