.row
  .col-sm-offset-1.col-sm-2.text-center
    h6
      a(href='/')
        .home home
  .col-sm-2.text-center
    h6
      a(href='/resume')
        .home resume
  .col-sm-2.text-center
    h6
      a(href='/portfolio')
        .home portfolio
  .col-sm-2.text-center
    h6
      a(href='/about')
        .home about
  .col-sm-2.text-center
    h6
      a(href='/contact')
        .home contact