extends layout

block content
  .row
    .col-sm-6.text-center
      include ./includes/header.jade
      .col-sm-12
        .content
          h2.text-center
            .title about
          img.pull-left.thumbnail(src='images/thumper_mowgli.jpg')
          .text-left
            p hello there. my name is thumper and i am a cocker spaniel-poodle (cockapoo) mix from los angeles, california. the hoomans think i was born sometime in june of 2010, but i can't tell time so i wouldn't know. i enjoy chasing small animals, playing with my cousin mowgli (a pit, pug and beagle mix), eating and going for runs with my hooman.
            p about my hooman - her name is leslie and i found her in los angeles in 2011. the nice hoomans at #[a(href='http://www.barknbitches.com/', target='_blank') bark &apos;n bitches] in west hollywood told her i was found in a backyard, abandoned with a bunch of other dogs. leslie came in the first day i was at bark n' bitches and took me home. while in los angeles, she worked at the #[a(href='http://www.laughfactory.com/', target='_blank') laugh factory] on sunset blvd. after work, we'd go for for hikes at runyon canyon almost every day. as the head of digital media at the laugh factory, she began debugging and fixing little issues on the website and implementing best practices for search engine optimization.
            p after realizing that she really enjoyed coding, she decided to go back to school for computer science. while applying to schools, she went to live in seoul, south korea to learn korean and more about her heritage. afterwards, she was accepted into georgetown university close to her hometown in the dc metro area so we moved back east. she spent four semesters studying at georgetown, learning the foundations of programming and computer science.
            p we recently relocated to san francisco (yay! back to the west coast!) after she was accepted and enrolled at #[a(href='https://www.makeschool.com/', target='_blank') make school]. she created an ios app called #[a(href='https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1084872902&mt=8', target='_blank') talent tracker], currently in the app store! it is a tool for event planners that book talent keep track of whether or not talent is confirmed. the idea came from having experienced the nightmare in planning comedy shows during her time in the comedy industry in los angeles. she's currently working on the web dev unit and has created a #[a(href='http://lesliekimm.github.io/', target='_blank') website] from scratch that she will build out and replace this website with in order to build on her web dev skills. she is also working on a digital literacy tool as part of the obama administration's #[a(href='https://www.whitehouse.gov/the-press-office/2016/03/09/fact-sheet-president-obama-announces-connectall-initiative', target='_blank') connectall initiative].
            p when she's not working, studying or hanging out with me, you can usually find her painting, watching movies, working out at #[a(href='http://core40.com/', target='_blank') core40] or #[a(href='http://www.corepoweryoga.com/', target='_blank') corepower yoga], running or hanging out with friends. check out her other projects in her #[a(href='./portfolio') portfolio]!
    .col-sm-6.right