extends layout2

block content
  .container
    .row
      .col-sm-2
        .box#burgundy-lightest
      .col-sm-offset-6.col-sm-2
        .box#grey-lightest
    .row
      .col-sm-2
        .box#burgundy-light
      .col-sm-offset-6.col-sm-2
        .box#grey-light
    .row
      .col-sm-2
        .box#burgundy
      .col-sm-2
        .box#red
      .col-sm-2
        .box#light-blue
      .col-sm-2
        .box#light-grey
      .col-sm-2
        .box#grey
    .row
      .col-sm-2
        .box#burgundy-darker
      .col-sm-2
        .box#red-darker
      .col-sm-2
        .box#light-blue-darker
      .col-sm-2
        .box#light-grey-darker
      .col-sm-2
        .box#grey-darker
    .row
      .col-sm-2
        .box#burgundy-darkest
      .col-sm-2
        .box#red-darkest
      .col-sm-2
        .box#light-blue-darkest
      .col-sm-2
        .box#light-grey-darkest
      .col-sm-2
        .box#grey-darkest