extends layout

block content
  .row
    .col-sm-6.text-center
      include ./includes/header.jade
      .col-sm-12
        .content
          h2.text-center
            .title contact
          img.larger-thumbnail(src='images/leslie_and_thumper.jpg')
          p if you have any feedback, suggestions or concerns, feel free to reach me at leslie@lesliekimm.com
          .row
          a(href='https://www.linkedin.com/in/lesliekimm', target='_blank')#[img.social-media-images(src='images/social_media/linkedin.png')] 
          a(href='https://www.facebook.com/lesliekimmartist/', target='_blank')#[img.social-media-images(src='images/social_media/facebook.png')] 
          a(href='https://twitter.com/lesliekimm', target='_blank')#[img.social-media-images(src='images/social_media/twitter.png')] 
          a(href='https://www.instagram.com/lesliekimmakes/', target='_blank')#[img.social-media-images(src='images/social_media/instagram.png')]          
    .col-sm-6.right