extends layout

block content
  .main
    .container.layer
      .row
        h1.col-sm-offset-3.col-sm-6
          .text-center.main-page | lesliekimm |
      .row
        h6.col-sm-12.text-center
          a.main-page-links(href='/resume') web developer | software developer
        h6.col-sm-12.text-center
          a.main-page-links(href='/portfolio') artist | painter | designer
        h6.col-sm-12.text-center
          a.main-page-links(href='/about') fitness enthusiast | wellness