extends layout

block content
  .row
    .col-md-6.text-center
      include ./includes/header.jade
      h1
        .logo | lesliekimm |
      h6
        a(href='/resume')
          .base-color web developer | software developer
      h6
        a(href='/portfolio')
          .base-color artist | painter | designer
      h6
        a(href='/about')
          .base-color fitness enthusiast | wellness
    .col-sm-6.right-panel.hidden-xs.hidden-sm