extends layout

block content
  .row
    .col-md-6.text-center
      include ./includes/header.jade
      h1
        .logo | lesliekimm |
      h6
        a(href='/resume')
          .home web developer | software developer
      h6
        a(href='/portfolio')
          .home artist | painter | designer
      h6
        a(href='/about')
          .home fitness enthusiast | wellness
    .col-sm-6.right.hidden-sm.hidden-xs