extends layout

block content
  .row
    .col-sm-6.text-center
      include ./includes/header.jade
      .col-sm-12
        .content
          h2.text-center
            .title portfolios
          .row
            .col-sm-offset-1.col-sm-10
              a(href='/portfolio/software')
                .card
                  .software
                    h1
                      .portfolio-title software
          .row
            .col-sm-offset-1.col-sm-10
              a(href='/portfolio/art')
                .card
                  .art
                    h1
                      .portfolio-title artwork
    .col-sm-6.right