extends layout

block content
  .row
    .col-md-6.text-center
      include ./includes/header.jade
      .col-sm-12
        .content
          h2.text-center
            .title resume
          .card
            .padding
              .row
                .col-sm-12.text-center
                  h4 Leslie Kim
                  h6 Web Developer, Software Developer
                  | leslie@lesliekimm.com
                  br
                  a(href='http://www.lesliekimm.com', target='_blank') lesliekimm.com
                  .row
                    a(href='https://github.com/lesliekimm', target='_blank')#[img.social-media-images(src='images/social_media/github.png')] 
                    a(href='https://www.linkedin.com/in/lesliekimm', target='_blank')#[img.social-media-images(src='images/social_media/linkedin.png')] 
                    a(href='https://www.instagram.com/lesliekimmakes/', target='_blank')#[img.social-media-images(src='images/social_media/instagram.png')]
              hr
              .row
                .col-sm-12
                  h4.text-center Projects
                .text-left
                  .row
                    .col-sm-12
                      h5.accent-color UI Lead/Engineer for ConnectALL Initiative #[small #[em (Ruby on Rails)]]
                        .small Mar '16 - present
                      p In collaboration with the White House, a web tool for the Obama Administration's ConnectALL Initiative to provide all Americans the necessary skills to help close the digital divide
                      h6 #[a(href='https://github.com/cmaher92/connectall', target='_blank') GitHup Repo] | #[a(href='http://www.lesliekimm.com/wp-content/uploads/2016/05/connectall_slide_deck.pdf', target='_blank') Demo Night Pitch Deck] | #[a(href='https://www.whitehouse.gov/the-press-office/2016/03/09/fact-sheet-president-obama-announces-connectall-initiative', target='_blank') Press Release]
                  
                  .col-sm-offset-2.col-sm-8.text-center
                    hr

                  .row
                    .col-sm-12
                      h5.accent-color Courseboard #[small #[em (MEAN Stack)]]
                        .small Feb '16 - present
                      p A web app for organizations to allow users to create and enroll in courses, post assignments and announcements to the course page
                      h6 #[a(href='https://meancourseboard.herokuapp.com/', target='_blank') Live Site] | #[a(href='https://github.com/ajbraus/courseboard', target='_blank') GitHub Repo]
                  
                  .col-sm-offset-2.col-sm-8.text-center
                    hr

                  .row
                    .col-sm-12
                      h5.accent-color Portfolio Website #[small #[em (MEAN Stack, JavaScript, Materialize, SASS)]]
                        .small Jan '16 - present
                      p.resume A work-in-progress website built from scratch to display both software and art portfolios
                      p Building to further develop web dev skills and have more control than currently used WordPress
                      h6 #[a(href='https://lesliekimm.herokuapp.com/', target='_blank') live site] | #[a(href='http://lesliekimm.github.io/index.html', target='_blank') Version 1] | #[a(href='https://github.com/lesliekimm/lesliekimm', target='_blank') GitHub Repo]
                  
                  .col-sm-offset-2.col-sm-8.text-center
                    hr

                  .row
                    .col-sm-12
                      h5.accent-color Talent Tracker #[em V1.1] #[small #[em (Swift, Realm)]]
                        .small Oct '15 - Mar '16
                      p iOS mobile app that helps talent bookers keep track of confirmed talent for events
                      h6 #[a(href='https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1084872902&mt=8', target='_blank') download in the app store]
                  
                  .col-sm-offset-2.col-sm-8.text-center
                    hr

                  .row
                    .col-sm-12
                      h5.accent-color Boolean Forest #[small #[em (Java)]]
                        .small Apr '15 - May '15
                      p Interactive Java applet used as teaching tool to teach children the basics of Boolean Logic
                  hr
              .row  
                .col-sm-12
                    h4.text-center Experience
                  .text-left
                    .row
                      .col-sm-12
                        h5.accent-color Engineering Intern at Social Tables #[small #[em (React, JavaScript)]]
                          .small Jun '15 - Aug '15 | Washington, D.C.
                        p Used existing API to revamp internal customer service tool
                        h6 #[a(href='https://www.socialtables.com/', target='_blank') socialtables.com]
                    
                    .col-sm-offset-2.col-sm-8.text-center
                      hr

                    .row
                      .col-sm-12 
                        h5.accent-color VP, Digital Media Operations at Laugh Factory #[small #[em (HTML, CSS, PHP)]]
                          .small Oct '10 - May '12 | Los Angeles, CA
                        | Managed online content: website, social media, videos, press releases
                        br
                        | Managed digital media partnerships: GoogleTV, Intel, RayV TV, YouTube
                        br 
                        | Debugged and fixed ~100 bugs for website and managed outsourced web programmers
                        br
                        | Redesigned newsletter and content to increase click-through rate to website by ~70%
                        h6 #[a(href='http://www.laughfactory.com/', target='_blank') laughfactory.com]
                hr
              .row
                .col-sm-12
                    h4.text-center Volunteer
                  .text-left
                    .row
                      .col-sm-12
                        h5.accent-color Instructor for Girls Who Code #[small #[em (St. Ignatius Prep School)]]
                          .small Jan '16 - present | San Francisco, CA
                        | Mentoring 4 groups of girls for Technovation 2016: Girls are building apps using MIT's AppInventor that solve problems in their community to compete to pitch their app at the World Pitch for $10,000 to implement their apps
                        br
                        | Use Codesters curriculum to teach girls to program #[em (Python)]
                        h6 #[a(href='http://girlswhocode.com/', target='_blank') girlswhocode.com]
                hr
              .row
                .col-sm-12
                    h4.text-center Education
                  .text-left
                    .row
                      .col-sm-12
                        h5.accent-color Make School #[small #[em (Product University)]]
                          .small Sep '15 - present | San Francisco, CA
                        p Units: iOS dev, web dev, computer science foundations
                    .row
                      .col-sm-12
                        h5.accent-color Georgetown University #[small #[em (Post Baccalaureate Certificate: 3.67 GPA)]]
                          .small Jan '14 - May '15 | Washington, D.C.
                        p Classes: advanced programming, data structures, network securities
                    .row
                      .col-sm-12
                        h5.accent-color NYU: Leonard Stern School of Business #[small #[em (B.S. Marketing, Studio Art, Film: 3.5 GPA)]]
                          .small Sep '07 - May '10 | New York, NY
                hr
              .row
                .col-sm-12
                    h4.text-center Skills
                  .text-left
                    .row
                      .col-sm-12
                        p #[strong Software Dev:] Python, Rails, Ruby, MEAN, JavaScript, Swift, Realm, HTML, CSS, C++, Java, React
                        p #[strong Software Dev Tools:] Git, GitHub, Xcode, Eclipse, Android Studio
                        p #[strong Design Tools:] Balsamiq, Sketch, Photoshop, InDesign, Illustrator
                hr
              .row
                .col-sm-12
                    h4.text-center Languages
                  .text-left
                    .row
                      .col-sm-12
                        p #[strong English:] Native speaker
                        p #[strong Korean:] Conversational
                        p #[strong Spanish:] Beginner
                hr
              .row
                .col-sm-12
                    h4.text-center Interests
                  .text-left
                    .row
                      .col-sm-12
                        p #[strong Painting | Fine Arts:] Acrylics, oil, watercolor, multimedia (donation & commission based)
                        p #[strong Fitness | Health:] Lagree Method, running, yoga, tennis, hiking
                        p #[strong Education:] Girls Who Code, art instructor (ages 3 - 30), STEM & SATS private instructor
                        p #[strong Volunteering:] Girls Who Code, St. Anthony's Foundation Tech Lab, animal rescue organizations
          br
          .row.text-center
            .col-sm-12
              a(href='http://lesliekimm.github.io/KimLeslieResume.pdf', target='_blank')
                h6.btn-primary Download My Resume
    .col-sm-6.right.hidden-sm.hidden-xs
