h1 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3em/52px; }
  h1 .main-page {
    font-size: 80px;
    line-height: 1.3em/96px;
    margin-top: 350px;
    color: white; }
    @media (max-width: 768px) {
      h1 .main-page {
        font-size: 50px; } }

h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3em/39px; }

h3 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3em/26px; }
  h3.portfolio {
    margin-top: -3px; }

h4 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3em/22px; }
  h4 .small.date, h4 .project-link {
    margin-top: 7px; }

h5 {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3em/20px; }

h6 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.3em/17px;
  text-transform: uppercase; }
  h6.portfolio {
    margin-top: -10px; }
  h6.portfolio-smaller {
    margin-top: -5px; }

body, p {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  background-color: #eceff1;
  color: #263238; }

a {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #607d8b;
  text-decoration: none; }

a:active, a:visited {
  text-decoration: none; }

a:hover {
  color: #90a4ae;
  text-decoration: none; }

.upper {
  text-transform: uppercase; }

/* navbar */
nav {
  background-color: black; }

a.brand-logo {
  color: white;
  margin-left: 25px; }

a.navbar-link {
  color: white;
  text-transform: uppercase; }
  a.navbar-link:hover {
    color: #26a69a; }

ul.right {
  margin-right: 25px; }

/* index page */
.main {
  background: url(/images/bg.jpg) no-repeat center center fixed;
  height: 960px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

a.main-page-links {
  color: white;
  font-size: 13px;
  line-height: 1.3em/17px;
  text-transform: uppercase; }

a.main-page-links:hover {
  color: #26a69a; }

/* resume page */
.card-resume {
  padding: 25px;
  border-radius: 10px; }

.accent-color {
  color: #26a69a; }

p {
  background-color: white; }
  p.resume {
    margin: 0; }

a.btn-resume {
  width: 100%;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 10px; }
  a.btn-resume:hover {
    color: white; }

.resume-padding {
  padding-top: 17.1px; }

/* portfolio page */
.rounded-corners {
  border-radius: 10px; }

.img-rounded-corners {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.img-small {
  width: 236px;
  height: 160px;
  overflow: hidden; }

.card.large {
  height: 450px; }
  .card.large:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.portfolio-description {
  color: #263238; }
  .portfolio-description:hover {
    color: #263238; }

.small-image-size {
  width: 200px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px; }

/* about page */
.large-image-size {
  width: 400px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px; }

.card-about {
  margin-bottom: 35px;
  padding-bottom: 0px; }

/* contact page */
.btn-contact {
  width: 100%;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 0px;
  border-radius: 10px; }
  .btn-contact:hover {
    color: white; }

.social-media-images {
  width: 30px; }

/*# sourceMappingURL=style.css.map */