/* OVERALL STYLES */
* {
  margin: 0;
  padding: 0;
}

body, p {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  color: #444444;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  line-height: 1.3em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }

h6 {
  font-size: 1em;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.3em;
}

a, a:visited, a:link, a:active {
  color: #E97B59;
  text-decoration: none;
}

a:hover {
  color: #EDB3A2;
  text-decoration: none;
}

.right-panel {
  background: url(/images/wires.jpg) no-repeat top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  min-height: 100%;
  min-width: auto;
}

.accent-color { color: #E97B59; }

a .base-color { color: #444444; }

a .base-color:hover, a .base-color:active {
  color: #E97B59;
  letter-spacing: 1px;
  text-decoration: none;
}

.letter-spacing { letter-spacing: 5px; }

.content {
  position: top absolute;
  padding: 0 30 30 30;
  top: 20px;
  height: 90vh;
  overflow: scroll;
}

/* OVERRIDE BOOTSTRAP */
.col-md-6 { padding: 0; }

.row { margin: 0; }

/* OVERRIDE MATERIALIZE */
/* CARD */
.card { padding: 10 30; }

.remove-padding { padding: 0; }

.card.small {
  height: 150px;
}

.card.small .card-image { 
  max-height: 100%;
}

.card.medium {
  height: 350px;
}

.card .card-image .card-title {
  color: #FFFFFF;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.card .card-image .card-title { color: #E97B59; }

.card .card-content .card-title {
  color: #444444;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  line-height: 1.3em;
  font-size: 1.6em;
}

.card-reveal {
  left: 0;
}

.card-reveal .card-title {
  color: #E97B59;;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  line-height: 1.3em;
  font-size: 1.6em;
  }

i.right {
  margin-left: 0;
}

/* NAV BAR */
nav { background-color: #FFFFFF; }

nav ul a, nav ul a:active, nav ul a:visited,
nav ul a:link {
  padding: 15px;
  color: #444444;
}

nav ul a:hover {
  background-color: #FFFFFF;
  color: #E97B59;
  letter-spacing: 1px;
}

/* BUTTONS */
.btn, .btn-large { background-color: #E97B59; }

.btn:hover, .btn-large:hover {
  background-color: #EDB3A2;
  color: #FFFFFF;
}

.white-text { color: #FFFFFF; }

/* PAGE SPECIFIC */
/* INDEX PAGE */
.logo {
  margin-top: 300px;
  margin-bottom: 25px;
  font-size: 2.5em;
}

/* ABOUT PAGE */
.about-image {
  max-width: 300px;
  margin-right: 20px;
  margin-bottom: 5px;
}

/* CONTACT PAGE */
.contact-image {
  width: 500px;
}

/* MISCELLANEOUS */
.social-media-images {
  width: 40px;
  margin: 10 5;
}

.grey-scale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) 
}

.grey-scale:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .logo {
    font-size: 40px;
  }

  .about-image {
    max-width: 100%;
  }

  .contact-image {
    max-width: 100%;
  }
}