extends ../../layout

block content
  link(rel='stylesheet', type='text/css', media='all', href='../../vendor/jgallery/dist/css/font-awesome.min.css')
  link(rel='stylesheet', type='text/css', media='all', href='../../vendor/jgallery/dist/css/jgallery.min.css?v=1.5.5')
  script(type='text/javascript', src='../../vendor/jgallery/dist/js/jquery-2.0.3.min.js')
  script(type='text/javascript', src='../../vendor/jgallery/dist/js/jgallery.min.js?v=1.5.5')
  script(type='text/javascript', src='../../vendor/jgallery/dist/js/touchswipe.min.js')
  .container
    h2.text-center crafts
    .card
      .row
        #gallery
          a(href='../../images/art/crafts/cross_stitch_pillow.jpg')
            img(src='../../images/art/crafts/cross_stitch_pillow.jpg', alt='cross stitch pillow')
          a(href='../../images/art/crafts/cross_stitch_pillow_front.jpg')
            img(src='../../images/art/crafts/cross_stitch_pillow_front.jpg', alt='cross stitch pillow front')
          a(href='../../images/art/crafts/new_orleans.jpg')
            img(src='../../images/art/crafts/new_orleans.jpg', alt='new orleans')
        script(type='text/javascript').
          $( function() {
          $( '#gallery' ).jGallery();
          } );


