* {
  margin: 0;
  padding: 0;
}

body, p {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  color: #444444;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  line-height: 1.3em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }

h6 {
  font-size: 1em;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.3em;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.right-panel {
  background: url(/images/wires.jpg) no-repeat top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  min-height: 100%;
  min-width: auto;
}

.col-md-6 {
  padding: 0;
}

.row {
  margin: 0;
}

.accent-color {
  color: #E97B59;
}

.content {
  position: top absolute;
  padding: 30 50 30 30;
  top: 20px;
  height: 80vh;
  overflow: scroll;
}

/* NAV BAR */
nav {
  background-color: #FFFFFF;
}

nav ul a {
  padding: 15px;
  color: #444444;
}

nav ul a:hover, nav ul a:active, h6 a:hover, h6 a:active {
  background-color: #FFFFFF;
  color: #E97B59;
  letter-spacing: 1px;
}

/* INDEX PAGE */
.logo {
  margin-top: 300px;
  margin-bottom: 25px;
  font-size: 2.5em;
}

h6 a {
  color: #444444;
}



/*


h1 .portfolio-title {
  margin-top: 95px;
  margin-bottom: 25px;
  font-size: 2em;
  color: #E97B59;
}

h2 .title {
  color: #E97B59;
  margin-top: -30px;
  letter-spacing: 5px;
}

h5 .small {
  margin: 10 0;
}

a, a:visited {
  color: #E97B59;
}

a:hover {
  color: #EDB3A2;
  text-decoration: none;
}

a .home, a:visited .home {
  color: #444444;
}

a:hover .home {
  color: #E97B59;
  text-decoration: none;
  letter-spacing: 1px;
}

a .btn-primary, a .btn-primary:visited {
  padding: 15px;
  margin: 0;
  background-color: #E97B59;
  border-radius: 3px;
}

a .btn-primary:hover {
  background-color: #EDB3A2;
}

a .btn-small {
  margin-top: 10px;
  padding: 8px;
}

p.remove-line-height {
  line-height: 0;
}

.accent-color {
  color: #E97B59;
}

.row {
  margin: 0;
}

.right-panel {
  background: url(/images/wires.jpg) no-repeat top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  min-height: 100%;
  min-width: auto;
}

.content {
  position: top absolute;
  padding: 30 50;
  top: 20px;
  height: 80vh;
  overflow: scroll;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #FFFFFF;
  transition: box-shadow .25s;
  border-radius: 10px;
}

.card .padding {
  padding: 20px;
}

.card .software {
  background: url('/images/software_portfolio.jpg') no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: auto;
  border-radius: 10px;
  overflow: hidden;
  height: 44%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) 
}

.card .art {
  background: url('/images/art_portfolio.jpg') no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: auto;
  border-radius: 10px;
  overflow: hidden;
  height: 44%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) 
}

.card .software:hover, .card .art:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.card {
  width: 100%;
}

.card-image {
  width: auto;
  height: 200px;
}

.card-title {
  margin-bottom: 10px;
}

i .right {
  height: 30px;
}

.thumbnail {
  border: none;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 0;
  border-radius: 8px;
}

.larger-thumbnail {
  width: 400px;
  margin-bottom: 10px;
}

.social-media-images {
  width: 30px;
}*/