extends ../layout

block content
  script(type='text/javascript' src='/javascripts/carousel.js')
  .row
    .col-md-6.text-center
      include ../includes/header.jade
      .content
        h2.text-center.accent-color.letter-spacing artwork portfolio
        .row
          .col-sm-6
            a(href='art/nothings_impossible')
              .card.remove-padding.grey-scale
                .card-image
                  img(src='../images/art/nothings_impossible/part2.jpg')
                  .card-title
                    h3 nothing's impossible
          .col-sm-6
            a(href='art/paintings')
              .card.remove-padding.grey-scale
                .card-image
                  img(src='../images/art/paintings/gypsy.jpg')
                  .card-title
                    h3 paintings
        .row
          .col-sm-6
            a(href='art/design_work')
              .card.remove-padding.grey-scale
                .card-image
                  img(src='../images/art/design_work/jack_and_jill.jpg')
                  .card-title
                    h3 design work
          .col-sm-6
            a(href='art/other_mediums')
              .card.remove-padding.grey-scale
                .card-image
                  img(src='../images/art/other_mediums/color_theory_drapes.jpg')
                  .card-title
                    h3 other mediums
        .row
          .col-sm-6
            a(href='art/photography')
              .card.remove-padding.grey-scale
                .card-image
                  img(src='../images/art/photography/self_portrait.jpg')
                  .card-title
                    h3 photography
          .col-sm-6
            a(href='art/layout')
              .card.remove-padding.grey-scale
                .card-image
                  img(src='../images/art/layout/budapest.jpg')
                  .card-title
                    h3 layouts
        .row
          .col-sm-6
            a(href='art/crafts')
              .card.remove-padding.grey-scale
                .card-image
                  img(src='../images/art/crafts/cross_stitch_pillow.jpg')
                  .card-title
                    h3 crafts
    .col-sm-6.right-panel.hidden-sm.hidden-xs  