extends ../layout

block content
  .container
    h2.text-center art portfolio
    .row
      .col-sm-4
        .card.card-resume.card-about.rounded-corners
          .card-image.img-small.img-rounded-corners
            img(src='../images/art/nothings_impossible/nothings_impossible.jpg')
          a.card-title(href='art/nothings_impossible') nothing's impossible
          .card-content
            p series acrylics paintings
      .col-sm-4
        .card.card-resume.card-about.rounded-corners
          .card-image.img-small.img-rounded-corners
            img(src='../images/art/paintings/gypsy.jpg')
          a.card-title(href='art/paintings') paintings
          .card-content
            p portfolio of my paintings
      .col-sm-4
        .card.card-resume.card-about.rounded-corners
          .card-image.img-small.img-rounded-corners
            img(src='../images/art/design_work/jack_and_jill.jpg')
          a.card-title(href='art/design_work') design work
          .card-content
            p portfolio of my design work
    .row
      .col-sm-4
        .card.card-resume.card-about.rounded-corners
          .card-image.img-small.img-rounded-corners
            img(src='../images/art/other_mediums/color_theory_drapes.jpg')
          a.card-title(href='art/other_mediums') other mediums
          .card-content
            p portfolio using various mediums
      .col-sm-4
        .card.card-resume.card-about.rounded-corners
          .card-image.img-small.img-rounded-corners
            img(src='../images/art/photography/self_portrait.jpg')
          a.card-title(href='art/photography') photography
          .card-content
            p portfolio of photography pieces
      .col-sm-4
        .card.card-resume.card-about.rounded-corners
          .card-image.img-small.img-rounded-corners
            img(src='../images/art/layout/budapest.jpg')
          a.card-title(href='art/layout') layout
          .card-content
            p portfolio of layout work
    .row
      .col-sm-4
        .card.card-resume.card-about.rounded-corners
          .card-image.img-small.img-rounded-corners
            img(src='../images/art/crafts/cross_stitch_pillow.jpg')
          a.card-title(href='art/crafts') crafts
          .card-content
            p portfolio of craft work

            